.navbar {
  width: 100%;
  background-color: goldenrod;
  height: 100px;
  padding: auto 100px;
  z-index: 2;
}

.nav-padding {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 370px;
}

.nav-links-div {
  display: flex;
  height: 2.75rem;
  align-items: center;
  gap: 2.1875rem;
}

.nav-links {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.nav-links:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}
.nav-booking-div {
  display: flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: #c9a438;
  background-color: black;
}

.nav-booking-div p {
  color: #000;
  color: #fff;
  font-family: Lato;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav-booking-div:hover {
  background: #000;
  border: 1px solid #c9a538;
  color: #c9a538;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.nav-booking-div:hover p {
  color: #c9a538;
  transition: all 0.3s ease-in-out;
}

/* Hamburger Icon Styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 9999;
  position: relative;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* Mobile Dropdown Menu */
.mobile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
  padding: 2rem 1.5rem; 
  gap: 1.2rem;
  position: absolute;
  top: 100%; 
  right: 0;
  width: 100%;
  z-index: 9999;

  
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
    z-index: 9999;
  }

  .nav-padding {
    justify-content: space-between;
    padding: 0 1rem;
    gap: 0;
  }

  .nav-links-div {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-booking-div {
    display: none;
  }

  .mobile-dropdown .nav-links {
    font-size: 1rem;
    color: white;
  }
}
