@import "tailwindcss";

:root {
  --background: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  /* background: #eadcdc; */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}
.padding-global {
  padding: 0 2rem;
}

@media screen and (max-width: 768px) {
  .padding-global {
    padding: 0 0;
  }
}
/* Custom utility classes for text truncation */
@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Custom breakpoint for extra small screens */
@media (min-width: 475px) {
  .xs\:h-28 {
    height: 7rem;
  }
}

.floating-icon {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
}
.icon{
  width: 70px;
  height: 70px;
}
.call-icon{
  background-color: #fff;
  border-radius: 50%;
}