@import "tailwindcss";

:root {
  --background: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  /* background: #eadcdc; */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}
.padding-global {
  padding: 0 2rem;
}

@media screen and (max-width: 768px) {
  .padding-global {
    padding: 0 0;
  }
}
